.github-corner svg {
    fill: var(--primary-light-color);
    color: var(--page-background-color);
    width: 72px;
    height: 72px;
}

@media screen and (max-width: 767px) {
    .github-corner svg {
        width: 50px;
        height: 50px;
    }
    #projectnumber {
        margin-right: 22px;
    }
}

.alter-theme-button {
    display: inline-block;
    cursor: pointer;
    background: var(--primary-color);
    color: var(--page-background-color) !important;
    border-radius: var(--border-radius-medium);
    padding: var(--spacing-small) var(--spacing-medium);
    text-decoration: none;
}

.alter-theme-button:hover {
    background: var(--primary-dark-color);
}

html.dark-mode .darkmode_inverted_image img, /* < doxygen 1.9.3 */
html.dark-mode .darkmode_inverted_image object[type="image/svg+xml"] /* doxygen 1.9.3 */ {
    filter: brightness(89%) hue-rotate(180deg) invert();
}

.bordered_image {
    border-radius: var(--border-radius-small);
    border: 1px solid var(--separator-color);
    display: inline-block;
    overflow: hidden;
}

html.dark-mode .bordered_image img, /* < doxygen 1.9.3 */
html.dark-mode .bordered_image object[type="image/svg+xml"] /* doxygen 1.9.3 */ {
    border-radius: var(--border-radius-small);
}

.title_screenshot {
    filter: drop-shadow(0px 3px 10px rgba(0,0,0,0.22));
    max-width: 500px;
    margin: var(--spacing-large) 0;
}

.title_screenshot .caption {
    display: none;
}

.arrow {
    color: inherit;
    cursor: pointer;
    font-size: 60%;
    vertical-align: middle;
    margin-right: 2px;
    font-family: serif;
    height: auto;
    text-align: right;
}

/* #nav-tree a:focus { */
/*     outline-style: none; */
/* } */

/* #nav-tree .selected .arrow { */
/* 		opacity: var(--side-nav-arrow-hover-opacity) */
/* } */

#nav-tree a:focus .arrow {
    font-size: 60%;
}

html {
    /* --page-font-size: 15px; */
    /* --navigation-font-size: 14px; */
    /* --toc-font-size: 14px; */
    /* --code-font-size: 14px; /1* affects code, fragment *1/ */
    /* --title-font-size: 22px; */
    --side-nav-arrow-opacity: 0.6;
		--hr-opacity: 0.6;
}

p {
  text-align: justify;
}

h1, h2 {
    margin-top: 1em;
    font-weight: 600;
    line-height: initial;
		color: var(--primary-dark-color);
}

div.header .title {
    font-weight: 600;
    font-size: 225%;
    padding: var(--spacing-medium) var(--spacing-large);
    word-break: break-word;
		color: var(--primary-dark-color);
}

.contents hr {
		/* width: 80%; */
    box-shadow: none;
		margin-left: auto;
		margin-right: auto;
    margin-top: var(--spacing-large);
    margin-bottom: var(--spacing-large);
    height: 2px;
    background-color: var(--primary-color);
    border: 0;
		opacity: var(--hr-opacity);
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
	border:1px;
	solid #000000;
}
figcaption {
  background-color: LightGray;
  color: black;
  font-style: italic;
  padding: 4px;
  text-align: center;
}
