wheel
numpy
pytest
torch
torchvision
torchaudio
pytorch-lightning
--find-links https://data.pyg.org/whl/torch-2.0.0+cu118.html
torch_scatter
torch_sparse
torch_cluster
torch_spline_conv
torch_geometric
torch-geometric-temporal

pandas
matplotlib
seaborn
pytz
pyyaml
shapely
OSMPythonTools
geojson
geopy
geographiclib

shapely
seaborn
configparser
pyyaml
opencv-python
scienceplots
jupyter
