wheel
numpy
pytest
--find-links https://download.pytorch.org/whl/cu118
torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2
torch
torchvision
torchaudio
pytorch-lightning
--find-links https://data.pyg.org/whl/torch-2.0.0+cu118.html
torch_scatter
torch_sparse
torch_cluster
torch_spline_conv
torch_geometric
torch-geometric-temporal

pandas
matplotlib
seaborn
pytz
pyyaml
shapely
OSMPythonTools
geojson
geopy
geographiclib

shapely
seaborn
configparser
pyyaml
opencv-python
scienceplots
jupyter
